langchain-groq
langgraph
spacy
numpy<2.0.0
python-dotenv
duckduckgo-search>=6.0.0
requests
rouge-score
textblob
pydantic
langchain-core
langchain-community
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fastapi
uvicorn